<div class="card comments mt-5 mb-5">
  <!--div class="card-header border-bottom-0 font-weight-bold bg-transparent">Comentarios</div-->
  <ul class="list-group list-group-flush">


<%- commentable.commentis.each do |commenti| %>
    <li class="list-group-item">
    	<header class="comment-header"><strong><%= commenti.username %></strong> wrote <%= distance_of_time_in_words(Time.current, commenti.created_at) %> ago</header>
   		<strong><%= commenti.user.email %></strong>


        <div class="comment-body"><%= commenti.message %></div>
	</li>
<% end %>
  </ul>
</div>

<%= render 'commentis/form', commenti: commentable.commentis.build %>
